@media only screen and (max-width: 500px) {
    #demo {
        width: 300px;
        height: 400px;
        background-color: rgb(218, 225, 236);
        border: 1px solid black;
        border-radius: 0px 20px 0px 25px;
        position: relative;
    }

    h1,
    span {
        display: block;
        font-size: 15px;
        text-align: center;
        font-family: fantasy;
        font-weight: 500;
        text-transform: capitalize;
        color: wheat;
    }

    button {
        width: 120px;
        margin: 10px;
        padding: 5px 10px;
        color: cornsilk;
        background-color: crimson;
        border-radius: 2.5rem;
        outline: none;
        border: none;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    #demo {
        width: 300px;
        height: 400px;
        background-color: rgb(218, 225, 236);
        border: 1px solid black;
        border-radius: 0px 20px 0px 25px;
        position: relative;
    }

    h1,
    span {
        display: block;
        font-size: 15px;
        text-align: center;
        font-family: fantasy;
        font-weight: 500;
        text-transform: capitalize;
    }

    button {
        width: 120px;
        margin: 10px;
        padding: 5px 10px;
        color: cornsilk;
        background-color: crimson;
        border-radius: 2.5rem;
        outline: none;
        border: none;
    }
}