* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: serif;

}

#demo {
    width: 300px;
    height: 400px;
    background-color: rgb(218, 225, 236);
    border: 1px solid black;
    border-radius: 0px 20px 0px 25px;
    position: relative;
}

h1,
span {
    display: block;
    font-size: 15px;
    text-align: center;
    font-family: fantasy;
    font-weight: 500;
    text-transform: capitalize;
}

button {
    width: 120px;
    margin: 10px;
    padding: 5px 10px;
    color: cornsilk;
    background-color: crimson;
    border-radius: 2.5rem;
    outline: none;
    border: none;
}